<!doctype html>
<html ng-app = "myModule">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src = "scripts/script.js"></script>
		<script type="text/javascript" src="scripts/filters.js"></script>
	</head>
	<body >
		<div ng-controller = "myController">
			<!-- Using ng-hide & ng-show -->	
			<input type="checkbox" ng-model="hideSalary">Click to hide salary
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
						<th>City</th>
						<th ng-hide="hideSalary">Salary</th>
						<th ng-show="hideSalary">Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td>{{ employee.name }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.city }}</td>
						<!-- &#8377; is code for INR -->
						<td ng-hide="hideSalary">{{ employee.salary | currency: "&#8377;" :1}}</td>
						<td ng-show="hideSalary">####</td>
					</tr>
				</tbody>
</table>
		</div>
		
	</body>
</html>
